.add-option--error {
    color: #c20303;
    font-size: $m-size;
    font-style: italic;
    padding: 0 1em;
    margin: .1em 0;
    margin-bottom: 0;
}

.add-option {
    display: flex;
    flex-direction: column;
    background-color: $primarygrey;
    padding: $s-size /2 ;
    padding-top: .6rem;

}

.add-option__input {
    background: $secondarygrey;
    border:none;
    
    border-bottom: .3rem solid darken($secondarycolor,10%);
    color: white;
    padding-left: $m-size;
    flex-grow: 1;
    border-radius: 7px;
    padding: $m-size;
    margin-bottom: $s-size;
}

@media (min-width: $mobilebreakpoint) {
    .add-option {
        flex-direction: row;
        
    }

    .add-option__input {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}